<!DOCTYPE html>
<html>
  <head>
    <%- include('../html_head', {title: title}) %>
  </head>
  <body>
    <div id="page">
      <div id="main">
        <%- include('../page_header', {title: title, subtitle: subtitle, menus:menus}) %>
        <div class="container">
          <table class="table">
            <caption>Liste des livres</caption>
            <thead>
              <tr>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i< records.length; i++) { %>
                <tr>
                  <td><a href="view?id=<%- records[i].id %>"><%= records[i].id %></a></td>
                  <td><%= records[i].title %></td>
                  <td><%= records[i].author %></td>
                  <td><%= records[i].description %></td>
                </tr>
              <% } // for %>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <%- include('../page_footer') %>
  </body>
</html>
