<!DOCTYPE html>
<html>
  <head>
    <%- include('../html_head', {title: title}) %>
  </head>
  <body>
    <script type="text/javascript">
    // Call external Web Service to fetch ISBN
    function check_isbn(event, strValue)
    {
      // Call a local Web Service to fetch book information based on its ISBN
      var strURL = "webservice?isbn="+encodeURIComponent(strValue);
      var jqxhr = $.ajax(strURL)
      .done(function(data, textStatus, jqXHR) {
        // TODO Handle multiple results - let the user pick one in a list
        if (data && data.status && data.status == "OK")
        {
          if (data.title)
          {
            var strTitle = data.title
            if (strTitle && strTitle.length > 0)
            {
              $("#title").val(strTitle);
              $("#title").parent().addClass("has-success").removeClass("has-warning has-error");
            }
          }
          if (data.authors)
          {
            var strAuthors = data.authors;
            if (strAuthors && strAuthors.length > 0)
            {
              $("#author").val(strAuthors);
              $("#author").parent().addClass("has-success").removeClass("has-warning has-error");
            }
          }
          if (data.description)
          {
            var strDescription = data.description
            if (strDescription && strDescription.length > 0)
            {
              $("#description").val(strDescription);
              $("#author").parent().addClass("has-success").removeClass("has-warning has-error");
            }
          }
          // Success
          $("#isbn13").parent().addClass("has-success").removeClass("has-warning has-error");
          $("#isbn13").parent().find(".glyphicon.form-control-feedback").addClass("glyphicon-ok").removeClass("glyphicon-warning-sign glyphicon-remove");
        }
        else
        {
          // Warning
          $("#isbn13").parent().addClass("has-warning").removeClass("has-success has-error");
          $("#isbn13").parent().find(".glyphicon.form-control-feedback").addClass("glyphicon-warning-sign").removeClass("glyphicon-ok glyphicon-remove");
        }
      })
      .fail(function(jqXHR, textStatus, errorThrown) {
        // Error
        $("#isbn13").parent().addClass("has-error").removeClass("has-success has-warning");
        $("#isbn13").parent().find(".glyphicon.form-control-feedback").addClass(" glyphicon-remove").removeClass("glyphicon-ok glyphicon-warning-sign");
      })
    } // function check_isbn(event)
    $( document ).ready(function() {
      // Initial setup for required fields
      $(".form-control-required").each(function(index) {
        var strValue = $(this).val().replace(/^ +/g, "").replace(/ +$/g, "");
        if (strValue == "")
        {
          $(this).parent().addClass("has-error");
        }
      });
      // Check required fields when losing focus
      $(".form-control-required").on('focusout', function(event) {
        // Validate required field: MUST NOT be empty on focus out (otherwise we set the error class)
        var strValue = $(event.target).val().replace(/^ +/g, "").replace(/ +$/g, "");
        if (strValue == "")
        {
          $(event.target).parent().addClass("has-error").removeClass("has-success has-warning");
        }
        else
        {
          $(event.target).parent().removeClass("has-error has-warning").addClass("has-success");
        }
      });
      $("#new_form").on('submit', function(event) {
        var objErrors = $(".has-error");
        var blnValue = (objErrors.length == 0);
        if(!blnValue)
        {
          event.preventDefault();
          // Set focus on first field in error
          objErrors[0].focus();
        }
      });
      $('#isbn13').on('keyup',function(event){
        if (event.which == 13)
        {
          var strValue = $(event.target).val();
          if (strValue && (strValue.length = 10 || strValue.length >= 13))
          {
            event.preventDefault();
            // Remove spaces at beginning/end
            strValue = strValue.replace(/^ +/g, "").replace(/ +$/g, "");
            // Call external Web Service to fetch ISBN
            check_isbn(event, strValue);
          }
        }

      });
    });
    </script>
    <div id="page">
      <div id="main">
        <%- include('../page_header', {title: title, subtitle: "Lecteurs", menus:menus}) %>
        <div class="container">
          <% if (message != null) { %>
          <div class="panel panel-<%=message.type%>">
            <div class="panel-heading"><h3 class="panel-title"><%= message.text %></h3></div><!-- class="panel-heading" -->
          </div><!-- class="panel panel-primary" -->
          <% } // if if (message != null) %>
          <div class="panel-body">
          <form action="" method="post" id="new_form">
            <%
            var intDisplayCount = 0;
            for(var i=0; i< form.fields.length; i++)
            {
              // Don't display field if it's an AUTOINCREMENT column
              if (form.autoincrement_column != form.fields[i].name)
              {
              %>
                <div class="form-group has-feedback">
                  <label for="<%= form.fields[i].name %>"><%= form.fields[i].label %></label>
                  <%
                  if (form.fields[i].maximum_length > 255)
                  {
                    %><textarea class="form-control<%= (form.fields[i].required ? " form-control-required" : "") %>" name="<%= form.fields[i].name %>" id="<%= form.fields[i].name %>" rows="5"
                                placeholder="<%= form.fields[i].label %>" <%= (intDisplayCount==0 ? " autofocus" : "") %>
                                ></textarea><%
                  } // if (form.fields[i].maximum_length > 255)
                  else
                  {
                  %>
                  <input type="text" class="form-control<%= (form.fields[i].required ? " form-control-required" : "") %>" name="<%= form.fields[i].name %>" id="<%= form.fields[i].name %>"
                         placeholder="<%= form.fields[i].label %>" <%= (intDisplayCount==0 ? " autofocus" : "") %>
                         <%- (form.fields[i].maximum_length ? " maxlength=\""+form.fields[i].maximum_length+"\"" : "") %>
                         >
                  <%
                  } // else if (form.fields[i].maximum_length > 255)
                  %>
                  <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                  <span id="inputSuccess<%=i%>Status" class="sr-only">(success)</span>
                </div><%

                intDisplayCount++;
              } // if (form.primary_key.indexOf(form.fields[i]) == -1)

          } // for %>
            <p>
              <button type="submit" name="OK" class="btn btn-primary btn-lg">OK</button><button type="submit" name="CANCEL" class="btn btn-default btn-lg">Annuler</button>
            </p>
          </form>
          </div><!-- class="panel-body" -->
        </div>
      </div>
    </div>

    <%- include('../page_footer') %>
  </body>
</html>
