<!DOCTYPE html>
<html>
  <head>
    <%- include('../html_head', {title: title}) %>
    <%- include('../form_script') %>
    <%- include('new_script') %>
  </head>
  <body>
    <div id="page">
      <div id="main">
        <%- include('../page_header', {title: title, subtitle: "Nouveau livre", menus:menus}) %>
        <div class="container">
          <%- include('../form_new', {form:form, message:message, action:action}) %>
        </div>
      </div>
    </div>

    <%- include('../page_footer') %>
  </body>
</html>
