<!DOCTYPE html>
<html>
  <head>
    <%- include('../html_head', {title: title}) %>
    <%- include('../form_script') %>
  </head>
  <body>
    <div id="page">
      <div id="main">
        <%- include('../page_header', {title: title, subtitle: subtitle, menus:menus}) %>
        <div class="container">

          <%- include('../form_view', {form:form, message:message}) %>
          <!-- Use a disabled form to display field values (non placeholder) -->
          <form class="form-horizontal">
            <fieldset disabled>
            <% for(var i=0; i< form.fields.length; i++) {
              // Don't display field if it's an AUTOINCREMENT column
              if (form.autoincrement_column == null || form.autoincrement_column.valueOf() != form.fields[i].name) {
              %>
                <div class="form-group">
                  <label for="<%= form.fields[i].name %>" class="col-sm-2 control-label"><%= form.fields[i].label %></label>
                  <div class="col-sm-10">
                    <%
                    if (form.fields[i].maximum_length > 255)
                    {
                      %><textarea class="form-control" rows="5"><%= record[form.fields[i].name] %></textarea><%
                    } // if (form.fields[i].maximum_length > 255)
                    else
                    {
                    %>
                    <input type="text" class="form-control" name="<%= form.fields[i].name %>" id="<%= form.fields[i].name %>" value="<%= record[form.fields[i].name] %>">
                    <%
                    } // else if (form.fields[i].maximum_length > 255)
                    %>
                  </div><!-- class="col-sm-10" -->
                </div><%
              } // if (form.autoincrement_column != form.fields[i].name)
          } // for %>
            </fieldset>
            <input id="MODIFY" name="MODIFY" class="btn btn-default" type="button" value="Modifier">
            <input id="DELETE" name="DELETE" class="btn btn-default" type="button" value="Supprimer">
          </form>

        </div>
      </div>
    </div>

    <%- include('../page_footer') %>
  </body>
</html>
