<% /*

      Copyright 2016 Replay SDK (http://www.replay-sdk.com)

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.

 */ -%>
<!-- page_form -->
<%- include('form_message', {message: message}) %>
<div class="panel-body">

  <!-- Use a disabled form to display field values (no placeholder) -->
  <form id="_FORM_VIEW" class="form-horizontal" action="<%=action%>" method="post">
      <%
        if (record)
        {
          var blnFieldset = false;
          for(var i=0; i< form.fields.length; i++)
          {
            // Don't display field if it's an AUTOINCREMENT column
            if (form.autoincrement_column != null && form.autoincrement_column.valueOf() == form.fields[i].name)
            {
              // Set hidden field with primary key
              %><input type="hidden" name="<%= form.fields[i].name %>" id="<%= form.fields[i].name %>" value="<%= record[form.fields[i].name] %>"><%
            }
            else if (form.fields[i].hidden)
            {
%><input type="hidden" name="<%= form.fields[i].name %>" id="<%= form.fields[i].name %>" value="<%= (form.fields[i].autoreplay ? req.body[form.fields[i].name] : "") %>">
<%
            }
            else
            {
              if (!blnFieldset)
              {
                blnFieldset = true;
                %><fieldset id="_FORM_VIEW_FIELDS" disabled><%
              } // if (!blnFieldset)
          %>
            <div class="form-group">
              <label for="<%= form.fields[i].name %>" class="col-xs-2 col-md-2 control-label"><%= form.fields[i].label %></label>
              <div class="col-xs-10 col-md-10">
                <%
              if (form.fields[i].maximum_length > 255)
              {
                %><textarea class="form-control" name="<%= form.fields[i].name %>" id="<%= form.fields[i].name %>" rows="5"><%= record[form.fields[i].name] %></textarea><%
              } // if (form.fields[i].maximum_length > 255)
              else
              {
                %>
                <input type="text" class="form-control" name="<%= form.fields[i].name %>" id="<%= form.fields[i].name %>" value="<%= record[form.fields[i].name] %>">
                <%
              } // else if (form.fields[i].maximum_length > 255)
                %>
              </div><!-- class="col-xs-10 col-md-10" -->
            </div><!-- class="col-xs-2 col-md-2" --><%
            } // if (form.autoincrement_column != form.fields[i].name)
          } // for

          if (blnFieldset)
          {
            blnFieldset = false;
            %></fieldset><%
          } // if (blnFieldset)
        } // if (record)
        %>
      <%- include('form_okcancel', { visible:true }) %>
    </fieldset>
  </form>
</div><!-- class="panel-body" -->
