<div id="_OK_CANCEL" class="row okcancel<%= (visible ? "" : " hidden")%>">
  <div class="col-xs-4 col-md-4">
    <button type="submit" name="_OK" id="_OK" class="btn btn-primary btn-lg" title="<%=__('Valider [Entrée]')%>"><%=__("OK")%></button>
    <button type="submit" name="_CANCEL" id="_CANCEL" class="btn btn-default btn-lg" title="<%=__('Annuler [Echap]')%>"><%=__("Annuler")%></button>
  </div><!-- class="col-xs-4 col-md-4" -->
  <div class="col-xs-8 col-md-8">
  </div><!-- class="col-xs-8 col-md-8" -->
</div><!-- class="row" -->
