<!-- page_form -->
<%- include('form_message', {message: message}) %>
<div class="panel-body">
<form id="_FORM_NEW" class="form-horizontal" action="<%=action%>" method="post">
  <%
  var intDisplayCount = 0;
  for(var i=0; i< form.fields.length; i++)
  {
    // Don't display field if it's an AUTOINCREMENT column
    if (form.autoincrement_column != form.fields[i].name)
    {
    %>
      <div class="form-group has-feedback">
        <label for="<%= form.fields[i].name %>" class="control-label col-xs-2 col-md-2"><%= form.fields[i].label %></label>
        <div class=" col-xs-10 col-md-10">
        <%
        if (form.fields[i].maximum_length > 255)
        {
          %><textarea class="form-control<%= (form.fields[i].required ? " form-control-required" : "") %>" name="<%= form.fields[i].name %>" id="<%= form.fields[i].name %>" rows="5"
                      placeholder="<%= form.fields[i].label %>"
                      ></textarea><%
        } // if (form.fields[i].maximum_length > 255)
        else
        {
        %>
        <input type="text" class="form-control<%= (form.fields[i].required ? " form-control-required" : "") %>" name="<%= form.fields[i].name %>" id="<%= form.fields[i].name %>"
               placeholder="<%= form.fields[i].label %>"
               <%- (form.fields[i].maximum_length ? " maxlength=\""+form.fields[i].maximum_length+"\"" : "") %>
                aria-describedby="_STATUS_<%= form.fields[i].name %>">
        <%
        } // else if (form.fields[i].maximum_length > 255)
        %>
        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
        <span id="_STATUS_<%= form.fields[i].name %>" class="sr-only">(success)</span>
        </div><!-- class="col-sm-10" -->
    </div><!-- class="form-group has-feedback" --><%

      intDisplayCount++;
    } // if (form.primary_key.indexOf(form.fields[i]) == -1)

} // for %>
<%- include('form_okcancel', { visible:true }) %>
</form>
</div><!-- class="panel-body" -->
