<%
  var intItemsPerLine = 2;
  var blnNeedToCloseRow = false;
  for(var i=0; i< items.length; i++) {
  if (i % intItemsPerLine == 0)
  {
    if (blnNeedToCloseRow)
    {
      %></div><%
    }
    %><div class="row bib-row-menu"><%
    blnNeedToCloseRow = true;
  }
  %>
  <div class="col-md-<%=12/intItemsPerLine%>">
    <div class="btn-group btn-group-justified">
    <a href="<%- items[i].link%>" class="btn btn-primary btn-lg btn-block" <% if (items[i].tooltip) { %> title="<%= items[i].tooltip %>"<%
    } // if %>><%
      if (items[i].icon) { %><span class="glyphicon glyphicon-<%- items[i].icon%>" aria-hidden="true"></span> <%
      } // if %> <%- items[i].label%></a>
    </div>
  </div><%
} // for
if (blnNeedToCloseRow)
{
  %></div><%
}
%>
