<div class="page-header">
  <%
  if (subtitle == null || subtitle == "")
  {
    subtitle = (menus ? menus[menus.length - 1].text : "");
    menus.pop();
  }
  %>
  <div class="row">
    <div class="col-md-9"><h1><%= title %> <small><%= subtitle %></small></h1></div><!-- class="col-md-11" -->
    <div class="col-md-3 text-right">
      <a href="/manage" class="btn" title="Gérer les livres (inventaire) et les lecteurs (utilisateurs)">
        <h3><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></h3>
      </a>
    </div><!-- class="col-md-1" -->
  </div><!-- class="row" -->
  <ol class="breadcrumb">
    <% for(var i=0; i< menus.length; i++) {
      if (menus[i].link == null) { %>
    <li><%= menus[i].text %></li><%
      }
      else { %>
        <li class="active">
            <a href="<%= menus[i].link %>">
                <%= menus[i].text %>
            </a>
        </li><%
      } // else if if (menus[i].link == null)
  } // for %>
    <li><%= subtitle %></li>
  </ol>
</div>
