<!DOCTYPE html>
<html>
  <head>
    <%- include('../html_head', {title: title}) %>
    <%- include('../form_script') %>
    <%- include('delete_script') %>
  </head>
  <body>
    <div id="page">
      <div id="main">
        <%- include('../page_header', {title: title, subtitle: "Retour", menus:menus}) %>
        <div class="container">
          <!-- Custom form -->
          <%- include('../form_message', {message: message}) %>
          <div class="panel-body">
          <form id="_FORM_NEW" class="form-inline" action="delete" method="post">
            <input type="hidden" name="id" id="id">
            <div class="form-group has-feedback">
                <input type="text" class="form-control form-control-required form-dont-submit" name="borrow_search" id="borrow_search" autocomplete="off" spellcheck="false" size="50" placeholder="Livre et emprunteur (ISBN, Titre, Nom, Compte)" autofocus>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span id="_STATUS_borrow_search" class="sr-only">(success)</span>
            </div><!-- class="form-group has-feedback" -->

<p>
            <%- include('../form_okcancel', { visible:true }) %>
</p>
          </form>
          </div><!-- class="panel-body" -->
        </div>
      </div>
    </div>

    <%- include('../page_footer') %>
  </body>
</html>
