<!DOCTYPE html>
<html>
  <head>
    <%- include('../html_head', {title: title}) %>
    <%- include('new_script') %>
    <%- include('../form_script') %>
  </head>
  <body>
    <div id="page">
      <div id="main">
        <%- include('../page_header', {title: title, subtitle: __("Nouvel emprunt"), menus:menus}) %>
        <div class="container">
          <!-- Custom form -->
          <%- include('../form_message', {message: message}) %>
          <div class="panel-body">
          <form id="_FORM_NEW" class="form-inline" action="new" method="post">
            <fieldset id="_FORM_NEW_FIELDS">
              <input type="hidden" name="item_id" id="item_id">
              <input type="hidden" name="user_id" id="user_id">
                  <div class="form-group has-feedback">
                      <input type="text" class="form-control form-control-required form-dont-submit" data-form-control-autocomplete="item_id" name="item_search" id="item_search" autocomplete="off" spellcheck="false" size="50" placeholder="<%=__('Taper l\'identifiant du livre à emprunter (ISBN ou Titre)')%>">
                      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                      <span id="_STATUS_item_search" class="sr-only">(success)</span>
                  </div><!-- class="form-group has-feedback" -->
                  <div class="form-group has-feedback">
                      <input type="text" class="form-control form-control-required form-dont-submit" data-form-control-autocomplete="user_id" name="user_search" id="user_search" autocomplete="off" spellcheck="false" size="50" placeholder="<%=__('Taper le nom ou le compte du lecteur')%>">
                      <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                      <span id="_STATUS_user_search" class="sr-only">(success)</span>
                  </div><!-- class="form-group has-feedback" -->
<p>
            <%- include('../form_okcancel', { visible:true }) %>
</p>
            </fieldset>
          </form>
          </div><!-- class="panel-body" -->
        </div>
      </div>
    </div>

    <%- include('../page_footer') %>
  </body>
</html>
